* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
        
.container {
    display: flex;
    flex-direction: column;

}

.white {
    color: white;
}

.green {
    color: #7cfc7e;
}